:root {
  --primary-color: #fbbf24;
  --secondary-color: #fde047;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}
.heading {
  text-align: center;
  color: white;
}

.container {
  padding: 1rem;
  background-color: var(--primary-color);
  width: 100vw;
}
.main-container {
  margin: auto;
  width: 50%;
}
/* #txt-input {
  width: 100%;
  margin: 1rem;
  padding: 1rem; */
/* } */
.output-heading {
  margin-top: 2rem;
  font-weight: 700;
  text-align: center;
}
.translate-button {
  align-items: center;
}
#btn-translate {
  width: 50%;
  padding: 0.7rem;
  background-color: var(--secondary-color);
  margin-top: 1rem;
  border-color: var(--secondary-color);
  color: white;
  font-size: medium;
}
.textbox {
  width: 100%;
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border-color: var(--primary-color);
}
.footer {
  background-color: var(--primary-color);
  padding: 1.5rem;
  text-align: center;
  color: white;
  width: 100vw;
  position: fixed;
  bottom: 0;
}
.footer .link {
  color: White;
  text-decoration: none;
  padding: 0.5rem;
}
.footer .footer-header {
  font-weight: bold;
  font-size: larger;
}
.footer ul {
  padding-inline-start: 0px;
}
.footer ul li {
  display: inline;
}
/* main {
  width: 70vw;
  margin: auto;
} */
